/*generic rules applied throughout body*/
body {
  color: #2d3629;
  background-color: #f2fcee;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

nav ul {
  list-style-type: none;

  /*needed to keep links in nav bar at edge, moves entire list to page edge*/
  margin: 0;
  padding: 0;

  overflow: hidden;

  background-color: #b0c9a6;
}

/*all list elements float to the edge of the list itself*/
nav li {
  float: left;
}

nav li a {
  display: block;
  color: #2d3629;

  text-align: center;
  padding: 14px 16px;

  /*will get rid of the usual underline for anchors*/
  text-decoration: none;

  font-weight: bold;
}

/*when hovering over different web pages in nav bar they will darken*/
nav li a:hover {
  background-color: #87aa79;
}

/*darkens the display of page user is on in nav bar*/
#active {
  background-color: #80be67;
}

section {
  float: left;
  width: 60%;
}

/*only paragraphs within sections will have this font size*/
section p {
  font-size: 18px;
}

/*styling for the div that contains the images in index.html*/
div {
  float: right;
  width: 30%;

  margin: 20px;
  padding: 10px;
}

footer {
  /*inline-block is only display method that seems to work here*/
  display: inline-block;
  /*padding may not be doing anything here*/
  padding-top: 10px;

  width: 100%;

  background-color: #b0c9a6;
  color: #2d3629;
}
